.sidebar .menu .list .ml-menu .ml-menu li a:before {
    content: '\f30f';
    position: absolute;
    left: 28px;
    font-size: 12px;
    font-family: 'Material-Design-Iconic-Font';
    color: #999;
    top: 8px;
}
.sidebar .menu .list .ml-menu .ml-menu li a {
    padding-left: 60px;
}

.sidebar .menu .list .ml-menu .ml-menu .ml-menu li a:before {
    content: '\f30f';
    position: absolute;
    left: 42px;
    font-size: 12px;
    font-family: 'Material-Design-Iconic-Font';
    color: #999;
    top: 8px;
}
.sidebar .menu .list .ml-menu .ml-menu .ml-menu li a {
    padding-left: 80px;
}

.sidebar .menu .list .ml-menu .ml-menu .ml-menu .ml-menu li a:before {
    content: '\f30f';
    position: absolute;
    left: 56px;
    font-size: 12px;
    font-family: 'Material-Design-Iconic-Font';
    color: #999;
    top: 8px;
}
.sidebar .menu .list .ml-menu .ml-menu .ml-menu .ml-menu li a {
    padding-left: 100px;
}

.sidebar .menu .list .ml-menu .ml-menu .ml-menu .ml-menu .ml-menu li a:before {
    content: '\f30f';
    position: absolute;
    left: 70px;
    font-size: 12px;
    font-family: 'Material-Design-Iconic-Font';
    color: #999;
    top: 8px;
}
.sidebar .menu .list .ml-menu .ml-menu .ml-menu .ml-menu .ml-menu li a {
    padding-left: 120px;
}

.active .subs {
    color: black !important;
    font-weight: 400;
}