.styled-table {
    /* https://stackoverflow.com/questions/18848369/how-to-freeze-thead-section-of-the-table */
    /* https://stackoverflow.com/questions/50361698/border-style-do-not-work-with-sticky-position-element */
    border-collapse: separate;
    margin: 0px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th, .styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #f1f1f1;
}
/* 
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
@media (min-width: 768px){
    .control-label {
        margin-bottom: 5px !important;
        text-align: left !important;
    }
    #form_group_a {
        /* margin-bottom: 20px; */
    }

}
@media (max-width: 991.9px){
    .tambah-margin-bawah {
        margin-bottom: 10px;
    }
}

@media (max-width: 900px){
    .merah {
        color: red;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}