@media (max-width: 991.9px){
    .button-preview {
        padding-right: 15px !important;
    }
    .button-button-preview {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .button-download {
        padding-left: 15px !important;
    }
    #preview_laporan_anggaran_berdasarkan_program_kerja {
        height: 100% !important;
    }
    #download_laporan_anggaran_berdasarkan_program_kerja {
        height: 100% !important;
    }
    #preview_laporan_anggaran_berdasarkan_mata_anggaran {
        height: 100% !important;
    }
    #download_laporan_anggaran_berdasarkan_mata_anggaran {
        height: 100% !important;
    }
}

#preview_laporan_anggaran_berdasarkan_program_kerja {
    height: 126px;
}
#download_laporan_anggaran_berdasarkan_program_kerja {
    height: 126px;
}

#preview_laporan_anggaran_berdasarkan_mata_anggaran {
    height: 126px;
}
#download_laporan_anggaran_berdasarkan_mata_anggaran {
    height: 126px;
}