::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f1f1f1; 
    border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0d0d0; 
    border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d0d0d0; 
}

/* Firefox Scrollbar */
html, body {
    scrollbar-color: #d0d0d0 grey;
    scrollbar-width: thin;
}
html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.panel-success{
    border-color: #3c8dbc;
}
.pagination > .active > a {
    background-color: #222d32;
    border-color: #222d32;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 40%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
#table-data > tbody {
    white-space: nowrap;
}
.dataTable > thead {
    white-space: nowrap;
}
/* https://stackoverflow.com/questions/19451183/cannot-remove-outline-dotted-border-from-firefox-select-drop-down */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
option:not(:checked) {
  color: black; /* prevent <option>s from becoming transparent as well */
}

/* https://stackoverflow.com/questions/23660519/remove-check-box-blue-border */
input[type="checkbox"]:focus{
    outline:0;
}

.panel-group {
    margin-bottom: 0px !important;
}

/* CSS used here will be applied after bootstrap.css */

.nav-tabs .glyphicon:not(.no-margin) {
    margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
    display: inline-block;
    margin: 0px;
}

.tab-pane .list-group input[type="checkbox"] {
    margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
    margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
    color: #FFBC00;
}

a.list-group-item.read {
    color: #222;
    background-color: #F3F3F3;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-pills>li>a {
    padding: 5px 10px;
}

.ad {
    padding: 5px;
    background: #F5F5F5;
    color: #222;
    font-size: 80%;
    border: 1px solid #E5E5E5;
}

.ad a.title {
    color: #15C;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}

.ad a.url {
    color: #093;
    text-decoration: none;
}

.form-group label {
    white-space: nowrap;
}

@media (min-width: 805px) {
    .pindah_baris {
        display: none;
    }
}

@media (max-width: 804px) {
    .pindah_baris_button {
        display: none;
    }
}

.youtube_punya {
    visibility: hidden;
}

.dataTables_scroll {
    border-bottom: 1px solid #f4f4f4;
}

.pagination>.active>a:focus, .pagination>.active>a:hover {
     background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f1f1f1), color-stop(1, #ffffff)) !important;
     color: black;
     border-color: #222d32;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dataTables_scrollBody {
    height: 100% !important;
}

.dataTables_length {
    padding: 0px !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
}

.dataTables_length select {
    line-height: inherit !important;
}

.dataTables_filter {
    padding: 0px !important;
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.dataTables_paginate  ul {
    padding-right: 5px !important;
}